@charset "UTF-8";

a{
    text-decoration: none;
    color: black;
}

section>div>a>span:nth-child(1){
    display: inline-block;
    width: 70px;
    height: 55px;
    background: url(../html/images/sp_weather.11654bc0.png) no-repeat 5px 94%;
    text-indent: -9999px;
    overflow: hidden;
    vertical-align: middle;
}

section>div>a>span:nth-child(2){
    font-size: 30px;
}

header>ul{
    text-align: center;
}

header>ul>li{
    display: inline-block;
    margin: 10px;
}

header>ul>li>a{
    display: block;
}

header>ul>li>a>span{
    display: block;
    width: 60px;
    height: 60px;
    text-indent: -9999px;
    overflow: hidden;
}

header>ul>li:nth-child(1)>a>span{
    background: url(../html/images/sp_main.3427b960.png) no-repeat 48% 52.3%;
}

header>ul>li:nth-child(2)>a>span{
    background: url(../html/images/sp_main.3427b960.png) no-repeat 10.8% 52.5%;
}

header>ul>li:nth-child(3)>a>span{
    background: url(../html/images/sp_main.3427b960.png) no-repeat 1.5% 52.5%;
}

header>ul>li:nth-child(4)>a>span{
    background: url(../html/images/sp_main.3427b960.png) no-repeat 10.75% 61.9%;
}

header>ul>li:nth-child(5)>a>span{
    background: url(../html/images/sp_main.3427b960.png) no-repeat 62.7% 49.3%;
}

header>ul>li:nth-child(6)>a>span{
    background: url(../html/images/sp_main.3427b960.png) no-repeat 29.4% 61.9%;
}
