@charset "UTF-8";

h1{
    width: 500px;
    height: 100px;
    background-color: cornsilk;
    border-width: 10px;
    border-style: solid;
    border-color: lightcoral;
}
h2{
    width: 100%;
    height: 100px;
    background-color: lightcyan;
    border: 10px solid lightcoral;
}
h3{
    width: 50%;
    height: 100px;
    background-color: lightgray;
    border-top: 10px dotted lightcoral;
    border-right: 10px dashed lightcoral;
    border-bottom: 10px double lightcoral;
    border-left: 5px solid lightcoral;
}
p{
    width: 500px;
    height: 100px;
    background-color: lightgray;
}
p.none{
    border-style: none;
}

p.hidden{
    border-style: hidden;
}