@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
}
body{
    color: white;
    font-size: 25px;
    font-weight: bold;
}
div#wrap{
    background-color: lightgray;
    width: 350px;
    height: 350px;
    padding: 20px;
    border: 5px solid gray;
}
div#top{
    background-color: lightcoral;
    width: 300px;
    height: 115px;
    padding: 20px;
    border: 5px solid gray;
    margin-bottom: 20px;
}

div#bottom{
    background-color: lightblue;
    width: 300px;
    height: 115px;
    padding: 20px;
    border: 5px solid gray;
}