@charset "UTF-8";

body{
    text-align: center;
}

ul, li{
    list-style: none;
}

li{
    display: inline;
}

li>a{
    color: black;
    font-size: 15px;
}

ul#over1>li>a{
    text-decoration: none;
}

ul#over1>li>a:hover{
    color: lightcoral;
}

ul#over2>li>a{
    text-decoration: none;
}

ul#over2>li>a:hover{
    text-decoration: underline;
    color: lightblue;
}


ul#over3>li>a{
    text-decoration: none;
    color: lightsalmon
}

ul#over3>li{
    color: lightsalmon
}

ul#over3>li>a:hover{
    text-decoration: underline;
    color: white;
    background-color: lightsalmon;
    padding: 3px;
}