@charset "UTF-8";

p{
    width: 150px;
    height: 70px;
    border: 1px solid #000;
    padding: 5px;
    display: inline-block;
}

.hidden{
    overflow: hidden;
}

.scroll{
    overflow: scroll;
}

.auto{
    overflow: auto;
}

.visible{
    overflow: visible;
}
