@charset "UTF-8";

li>a{
    text-decoration: none;
    color:black;
}

li>a:hover{
    text-decoration: none;
    color:lightcoral;
}

li.a1>a:link{
    color: lightgoldenrodyellow;
}

li.a1>a:visited{
    color: lightslategray;
}

li.a1>a:hover{
    background-color: lightcyan;
}

li.a1>a:active{
    font-size: 30px;
}

li.a1>a:focus{
    font-style: italic;
}