@charset "UTF-8";
/* common */
body{
    font-size: 12px;
    line-height: 1.6;
    font-family: 'Poiret One', sans-serif;
    font-weight: 400;
    color: #333;
}
a{
    text-decoration: none;
    color: #333;
}
/* layout */
#wrap{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
    header{
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 15%;
        height: 100vh;
        background-color: #fff;
    }
    main{
        width: 85%;
        background-color: #ccc;
    }
        .lnb{
            position: fixed;
            width: 100%;
            height: 35px;
            background-color: #212121;
        }
        section{
            width: 100%;
            margin-top: 35px;
        }
/* header */
h1{
    position: absolute;
    left: 50%;
    top: 7%;
    transform: translate3d(-50%, 0, 0);
    width: 180px;
    height: 136px;
    background: url(../img/logo1.png) no-repeat 0 0;
    background-size: contain;
    text-indent: -99999px;
    overflow: hidden;
}   
.gnb{}
.gnb a{
    display: block;
    padding: 8px 30px;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.8;
    text-align: left;
}
.gnb a:hover{
    color: #6ce2fb;
}
.gnb a i{
    margin-right: 10px;
}
.sns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90px;
    margin-top: 20vh;
    margin-bottom: 10vh;
}
.sns>dd{}
/* lnb */
.lnb>ul{
    display: flex;
    flex-direction: row;
    line-height: 30px;
}
.lnb>ul>li{
    padding: 0 10px;
}
.lnb>ul>li:nth-of-type(1){
    margin-right: 61%;
}
/* section */
section{
}
section>article{
    float: left;
    height: 260px;
}
section>article:nth-of-type(1){
    width: 60%;
    height: 520px;
}
section>article:nth-of-type(2){
    width: 40%;
}
section>article:nth-of-type(3){
    width: 20%;
}
section>article:nth-of-type(4){
    width: 20%;
}
section>article:nth-of-type(5){
    width: 20%;
}
section>article:nth-of-type(6){
    width: 40%;
}
section>article:nth-of-type(7){
    width: 20%;
}
section>article:nth-of-type(8){
    width: 20%;
}
section>article:nth-of-type(9){
    width: 40%;
}
section>article:nth-of-type(10){
    width: 20%;
}
section>article:nth-of-type(11){
    width: 20%;
}
section>article:nth-of-type(12){
    width: 20%;
}
section>article>div{
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
article .bg1{
    background: url(../img/pic1.jpg) no-repeat 50% 50%;
}
article .bg2{
    background: url(../img/pic2.jpg) no-repeat 50% 50%;
}
article .bg3{
    background: url(../img/pic3.jpg) no-repeat 50% 50%;
}
article .bg4{
    background: url(../img/pic4.jpg) no-repeat 50% 50%;
}
article .bg5{
    background: url(../img/pic5.jpg) no-repeat 50% 50%;
}
article .bg6{
    background: url(../img/pic6.jpg) no-repeat 50% 50%;
}
article .bg7{
    background: url(../img/pic7.jpg) no-repeat 50% 50%;
}
article .bg{
    background-size: cover;
}
article .bg1{
    background-size: cover;
}
article div.bg span{
    position: absolute;
    right: 20px;
    bottom: 0;
    font-size: 60px;
    color: #fff;
    transform: scale(10);
    opacity: 0;
    transition: all 0.6s linear 0s;
}
article:hover div.bg span{
    transform: scale(1);
    opacity: 1;
}
article div.bg1 span{
    position: absolute;
    right: -6px;
    bottom: -76px;
    font-size: 170px;
    color: #fff;
    transition: all 0.5s linear 0s;
}
article div.bg1:hover span{
    transform: rotateY(180deg);
    color: #222;
}
/* 텍스트 박스 */
article div.txt{
    color: #666;
    background-color: #fff;
    padding: 40px 30px;
    box-sizing: border-box;
}
article:nth-of-type(3) div.txt{
    background-color: #bff7fa;
}
article:nth-of-type(11) div.txt{
    background-color: #e3f1fb;
}
article div.txt strong{
    font-size: 30px;
    font-weight: normal;
}
article .txt i{
    opacity: 0;
    position: absolute;
    right: -200px;
    bottom: -70px;
    font-size: 300px;
    color: #b2effc;
    transition: all 0.7s linear 0s;
}
article:hover .txt i{
    right: 0;
    opacity: 0.5;
}
article:hover div.txt{
    background: #6ce2fb;
    color: #fff;
}