@charset "UTF-8";
*{
    padding: 0;
    margin:0;
    color: black;
    text-decoration: none;
}
label{
    display: none;
}
h1{
    float: left;
}
h1>a>img{
    padding: 25% 0 0 25%;
}
header{
    background-color: #f6f5ef;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1%;
}
ul.header{
    display: inline-block;
    margin-left: 45%;
    margin-top: 1%;
    position: fixed;
}
ul.header>li{
    display: inline;
    font-size: 13px;
    padding: 0 1px;
}
li>input{
    color: #f6f5ef;
    background: white url(../../html/images/imgi_84_icon_magnifier_black.png) no-repeat center;
    border: 1px lightgray solid;
    padding: 7px 15px;
    margin-left: 1px;
}
.nav1{
    clear: both;
    display: inline;
    text-align: right;
    padding: 3% 1% 2% 1%;
    position: absolute;
    left: 20%;
    top: 25%;
}
ul.nav1>li{
    display: inline;
    font-size: 14px;
    margin: 0 20px 20px 20px;
}
ul.nav1>li:nth-child(7){
    margin-right: 20px;
}
h2{
    font-size: 30px;
    color:black;
    margin: 14% 0 30px 20px;
}
section>dl{
    margin: 0 2% 0 2%
}
section>dl>dt{
    float: left;
    width: 25%;
    height: 50px;
    font-size: 15px;
    text-align: center;
    line-height: 15px;
    border: 1px solid #ccc;
    padding: 15px;
    box-sizing: border-box;
}
section>dl>dt:nth-child(7){
    background-color: #063;
}
section>dl>dt:nth-child(7)>a{
    color:white;
    text-decoration: underline;
}
section>dl>dd>h3{
    clear: both;
    padding: 25px 0 20px 0;
}
dl>dd>p>img:nth-child(1){
    width: 100%;
}
dd>article:nth-of-type(1){
    margin-bottom: 100px;
}
dd>article:nth-of-type(1)>h3:nth-of-type(1){
    color: #753f13;
    font-size: 40px;
    margin: 10px 0;
}
dd>article:nth-of-type(1)>h3:nth-of-type(2){
    color: #753f13;
    font-size: 20px;
    font-style: italic;
    margin: 10px 0;
}
dd>article:nth-of-type(1)>p:nth-of-type(1){
    font-size: 15px;
    margin: 10px 0;
}
.decafgo{
    font-size: 15px;
    border-bottom: 1px gray dotted;
    margin: 10px 0;
}
.imgbox1>img{
    width: 50%;
    float: left;
}
.txtbox1{
    display: inline-block;
    width: 50%;
}
.txtbox1>h3{
    display: inline-block;
    text-align: left;
    color: #753f13;
    font-size: 20px;
    font-style: italic;
    margin: 5% 15% 5% 10%;
}
.txtbox1>p>i{
    display: inline-block;
    text-align: left;
    color: #753f13;
    font-size: 13px;
    font-style: normal;
    margin: 0 0 0 10%;
}
.txtbox1>p:nth-of-type(2){
    display: inline-block;
    text-align: left;
    font-size: 15px;
    font-style: normal;
    margin: 1% 0 0 10%;
}
.txtbox1>p:nth-of-type(3){
    display: inline-block;
    text-align: left;
    font-size: 15px;
    font-style: normal;
    margin: 5% 0 25% 10%;
}
.txtbox2{
    background: #F2F0EB;
    padding: 5% 0 5% 0;
}
.txtbox2>h3{
    text-align: center;
    color: #753f13;
    font-size: 20px;
    font-style: italic;
}
.txtbox2>p{
    text-align: center;
    font-size: 15px;
    padding: 2% 0 0 0;
}
.txtbox2>p>i{
    font-style: normal;
}
.txtbox3{
    display: inline-block;
    text-align: right;
    width: 50%;
}
.txtbox3>h3{
    display: inline-block;
    text-align: right;
    color: #753f13;
    font-size: 20px;
    font-style: italic;
    margin: 15% 10% 2% 10%;
}
.txtbox3>p{
    display: inline-block;
    text-align: right;
    font-size: 15px;
    margin: 5% 10% 0% 0%;
}
.txtbox3>p:nth-of-type(3){
    margin-bottom: 17%;
}
.imgbox2>img{
    width: 50%;
    float: right;
    margin: 5% 0;
}
article:nth-of-type(5){
    background: url(../../html/images/15314081-coffee-bean-wallpaper.jpg);
    padding: 10%;
}
article:nth-of-type(5)>h3{
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    font-style: italic
}
#footer{
    background-color: #2c2a29;
}
#header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
#container{
    clear: both;
}
dd>article:nth-of-type(2)::after{
    content: "";
    display: block;
    clear: both;
}
dd>article:nth-of-type(4)::after{
    content: "";
    display: block;
    clear: both;
}