@charset "UTF-8";
body{
    font-size: 14px;
    color: #353535;
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-style: normal;
}
a{
    text-decoration: none;
    color: #353535;
}
#wrap{}
    #header{
        background-color: #f6f5ef;
    }
    #container{}
        #content{}
    #footer{
        background-color: #2c2a29;
        color: #ffffff;
    }
#footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
#footer>ul{
    display: flex;
    flex-direction: row;
}
#footer>ul:nth-of-type(1){
    margin: 30px 0 50px;
}
#footer>ul:nth-of-type(1)>li{
    width: 220px;
    line-height: 20px;
    font-size: 14px;
}
#footer>ul:nth-of-type(1)>li>ul{
    font-size: 12px;
    line-height: 24px;
}
#footer>ul>li{
 flex: auto;
}
#footer>ul:nth-of-type(2){
    padding: 30px 0;
}
#footer>ul:nth-of-type(3){
    padding: 10px 0;
}
#footer>ul:nth-of-type(3)>li{
    font-size:  12px;
    padding: 0 10px;
}
#footer>ul:nth-of-type(3)>li>a{
    color: #ccc;
}
#footer>ul:nth-of-type(3)>li:nth-child(1)>a{
    color: #00b050;
    font-weight: 600;
}
#footer>ul:nth-of-type(3)>li:nth-child(4)>a{
    color: #00b050;
    font-weight: 600;
}
#footer>ul:nth-of-type(4){
    padding: 10px 0;
}
#footer>ul:nth-of-type(4)>li>a{
    display: inline-block;
    width: 90px;
    height: 30px;
    border: 2px solid #ffffff;
    font-size: 12px;
    margin-right: 7px;
    padding: 0 10px;
    border-radius: 3px;
    text-align: center;
    line-height: 30px;
}
#footer>ul:nth-of-type(5){
    margin: 30px 0;
    color: #999;
}
#footer>ul:nth-of-type(5)>li>a{
    color: #999;
}
#footer>ul:nth-of-type(5)>small{
    color: #999;
}
#footer>ul:nth-of-type(5)>li{
    font-size:  12px;
    padding: 0 10px;
}
#footer a{
    color: #ffffff;
}