@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
}
#content{
    position: relative;
    width: 1100px;
    margin: 0 auto;
    padding: 30px 1 50px;
}
#content>h2{
    margin: 10px 0;
}
body{
    font-size: 14px;
    color: #666;
    font-family: "Noto Sans KR";
}
a{
    text-decoration: none;
    color: #666
}
ul, li{
    list-style: none;
}
ul.path{
    position: absolute;
    right: 0;
    top: 20px;
    text-align: right;
    list-style: none;
}
ul.path>li{
    display: inline-block;
    font-size: 12px;
}
ul.path>li:nth-child(1)>a>img{
    vertical-align: -2px;
}
.reserve>ul:first-child{
    height: 70px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.reserve>ul:first-child::after{
    content: "";
    display: block;
    clear: both;
}
.reserve>ul:first-child>li{
    float: left;
    width: 20%;
}
.reserve>ul:first-child>li>a{
    display: block;
    height: 35px;
    border-radius: 3px;
    text-align: center;
    line-height: 35px;
    color: #222;
    font-size: 14px;
    font-weight: bold;
}
.reserve>ul:first-child>li.selected>a{
    background-color: #EAE7E0;
}
.reserve>ul:last-child{
    width: 100%;
}
.reserve>ul:last-child::after{
    content: "";
    display: block;
    clear: both;
}
.reserve>ul:last-child>li{
    float: left;
    width: 23%;
    margin: 1%;
}
.reserve>ul:last-child>li>dl>dt{
    display: block;
    width: 100%;
    overflow: hidden;
}
.reserve>ul:last-child>li>dl>dt>a{
    display: block;
    width: 100%;
}
.reserve>ul:last-child>li>dl>dt>a>img{
    transition: transform 1s ease 0s;
}
.reserve>ul:last-child>li>dl>dt>a>img:hover{
    transform: scale(1.2);
}
.reserve>ul:last-child>li>dl>dd{
    font-size: 14px;
    color: #444;
    text-align: left;
    font-weight: bold;
    line-height: 20px;
    padding: 10px 10px 0 10px
}